.dropdown {
    max-width: 300px;
    height: 63px;
    border-radius:5px;
    margin: 100px auto;
    color: #f1f1f1;
    background: rgb(103,75,224);
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%,100% 100% , 0% 100%);

}

.bloc-top{
padding: 20px;
display :block;
width:100%;
border: none;
outline: none;
font-size: 20px;
display:flex;
justify-content: center;
align-items: center;
color: #f1f1f1;
background: rgb(103,75,224);
cursor: pointer;
border-radius:  5px;
text-align: center;
}

.bloc-top img{
    width: 20px;
}
.reponse {
    padding: 0 22px;
    font-size: 18px;
    color: #f1f1f1;
    margin-left: 5px;
padding-bottom: 25px;
}
.test li{
    list-style-type: none;
    padding: 5px 0;
    
}
