<!DOCTYPE html>
<html>
<head>
</head>
<body>
 

  <div class="carousel-container">
    <ngbd-carousel-basic></ngbd-carousel-basic>
  </div>
  <div class="placement-gros-titre">
  <h1 class="grosTitre">Bienvenue sur le site web de BeesAmanlis</h1>
  </div>
  <div class="ensemble-image-texte">
<div class="conteneur">
  <div class="ensemble">
    <img src=".\assets\Images\miel-blanc-2.jpg" alt="Image 1" class="image-gauche">
    <div class="text-droit-position">
    <div class="texte-droite">
      <p> Nous sommes un petit apiculteur d'une trentaine de ruches <br> situé sur la commune d'Amanlis au sud-est de Rennes.<br>
        Nous produisons chaque année deux types de<br> miel différents : le miel d'été et le miel de printemps.<br>
        La récolte du miel a lieu en mai, juin et août.<br> Les quantités dépendent de l'année.<br>
        La mise en pots et l'étiquetage sont réalisés à la main.<br> Si vous souhaitez obtenir plus <br> d'informations sur notre récolte, cliquez <a href="#">ici</a>.</p>
    </div>
  </div>
  </div>
  <div class="ensemble">
    <div class="texte-gauche">
      <h2>Il nous font confiance</h2>
      <p>Nous mettons un point d'honneur à promouvoir la vente en circuit court en collaborant avec des vendeurs et agriculteurs locaux.<br>
        Voici quelques-uns de nos partenaires :<br>
        - Osealentours : Boutique de produits locaux<br>
        - Ferme du Bois Robert : Vente de produits à base de pomme (jus, cidre, vinaigre...)<br>
        - La chèvrerie d'Amanlis : Vente de fromages de chèvre<br>
        - Le Temps qu'il faut : Pizzeria (Piré)<br>
      </p>
    </div>
    <img src=".\assets\Images\miel-blanc-2.jpg" alt="Image 2" class="image-droite">
  </div>
</div>
</div>
 
  





</body>
</html>
